# 100 zadań z Pythona

## STRING

### Zadanie 1. Wydziel wyrazy ze zmiennej i zapisz je na liście.

In [5]:
sentence = 'I am learning Python'
lista = sentence.split(" ")
lista

['I', 'am', 'learning', 'Python']

### Zadanie 2. Stwórz funkcję, która sprawdzi czy słowo python znajduje się w danym ciągu znaków.

In [6]:
zdanie = 'Lubię Pythona'
print('python' in zdanie.lower())

True

### Zadanie 3. Przekonwertuj bajty na ciąg znaków

In [8]:
bytes_to_convert = b"Python"
converted_str = bytes_to_convert.decode('utf-8')

b'Python'

### Zadanie 4. Wyodrębnij ze zmiennej słowo 'love'.

In [9]:
zdanie = 'I love Python'
zdanie[2:6]

'love'

### Zadanie 5. Sprawdź czy słowo jest palindronem.

In [11]:
def is_palindrom(word: str) -> bool:
    return word==word[::-1]
is_palindrom('anna')

True

### Zadanie 6. Wartość zmiennej przesuń w prawo,a następnie dodaj 6 znaków '_'.

In [15]:
name = 'Mark'
align_right = list(name)
for i in range(6):
    align_right.insert(0,'_')
align_right = "".join(align_right)
align_right

'______Mark'

In [22]:
name = 'Mark'
align_right = f'{name: >10}'
align_right

'      Mark'

### Zadanie 7. Wartość zmiennej przesuń w lewo,a następnie dodaj 6 znaków '_'.

In [16]:
name = 'Mark'
align_left = list(name)
for i in range(6):
    align_left.append('_')
align_left = "".join(align_left)
align_left

'Mark______'

In [17]:
name = 'Mark'
align_left = f'{name:_<10}'
align_left

'Mark______'

### Zadanie 8. Dodaj dwa znaki _ przed i dwa za danym słowem.

In [26]:
name = 'Mark'
align_center = f'{name:_^8}'
align_center

'__Mark__'

### Zadanie 9. Pokaż działanie f string.

In [29]:
full_name_dict = {
    'first_name': 'Alice',
    'last_name': 'Smith'
}

full_name_str = f"{full_name_dict['first_name']} {full_name_dict['last_name']}"
full_name_str

'Alice Smith'

### Zadanie 10. Zamień ciąg znaków 15.987654321 na 015.9877.

In [51]:
number = 15.987
new_number = f'{number:08.4f}'
# 08 to liczba znakow ogole, 4f to liczba miejsc po przecinku
new_number

'015.9870'

### Zadanie 11. Sprawdź czy ciąg znaków spełnia określone założenia.

In [61]:
def is_string_valid(string: str) -> bool:
    return string!="" and string[-2:]!='em' and string==string.lower() and ' ' not in string
is_string_valid("ab cde")

False

### Zadanie 12. Usuń spacje ze stringa.

In [63]:
word = ' hello   '
new_word = word.strip()
new_word

'hello'

### Zadanie 13. Usuń spacje i znaki nowej linii ze stringa.

In [65]:
word = ' h\nel  lo_  \nwor  ld '
new_word = word.replace(" ","").replace("\n","")
new_word

'hello_world'

### Zadanie 14. Wyodrębnij nazwę pliku ze zmiennej.

In [66]:
from pathlib import Path

In [69]:
path = '/home/user/dir/angielski.txt'
file_name = Path(path).stem
file_name

'angielski'

### Zadanie 15. Sprawdź ile razy litera 'g' występuje w tekście.

In [73]:
text = '''Kuba Kuba Kuba,
Huber Hubert Huber'''
count = 0
for litera in text:
    if litera =="b":
        count+=1
count

6

In [75]:
text.count('be')

3

### Zadanie 16. Sprawdź czy obiekt jest typu string.

In [78]:
def is_string(obj):
    return type(obj)==str
is_string(['Kuba','Hubert'])

False

### Zadanie 17. Stwórz listę unikatowych obiektów. Usuń z niej : oraz .

In [87]:
text = 'Humpty Dumpty: sat on a wall, Humpty Dumpty: had a great fall'
# koniecznie trzeba text = text.replace()
text = text.replace(":","").replace(",","")
list_of_words = list(set(text.split()))
list_of_words

['on', 'wall', 'Dumpty', 'Humpty', 'had', 'fall', 'sat', 'great', 'a']

### Zadanie 18. Ze zdania wyodrębnij cyfry i zapisz jako listę

In [94]:
sentence = 'I 33lo2ve1 P7yt88ho5n!132'
digits = sentence.strip()
# trzeba dopisac int()
digits = [int(cyfry) for cyfry in digits if cyfry.isdigit() and cyfry!='8']

### Zadanie 19. Ze zdania wyodrębnij liczby i zapisz jako listę

In [102]:
import re
sentence = 'I 33lo2ve1 P7yt88ho5n!132'
numbers = re.findall(r'\d+', sentence)
numbers

['33', '2', '1', '7', '88', '5', '132']

### Zadanie 20. Zamień cyfry i literę p na &.

In [105]:
sentence = 'I 33lo2ve1 P7yt88ho5n!132'
new_sentence = sentence.replace('0',"&").replace('1',"&").replace('2',"&").replace('3',"&").replace('4',"&").replace('5',"&").replace('6',"&").replace('7',"&").replace('8',"&").replace('9',"&").replace('P',"&")
new_sentence

'I &&lo&ve& P&yt&&ho&n!&&&'

### Zadanie 21. Usuń ze zmiennej znaki, które nie są cyframi.

In [111]:
sentence = 'I 33lo2ve1 P7yt88ho5n!132'
lista = sentence.strip()
lista = [element for element in lista if element.isdigit()]
new_sentence = "".join(lista)
new_sentence

'33217885132'

### Zadanie 22. Usuń wielokrotne znaki spacji.

In [115]:
text = 'Humpty      Dumpty sat  on   a            wall'
for i in  range(100):
    text=text.replace("  "," ")
new_text = text
new_text

'Humpty Dumpty sat on a wall'

## NUMBER

### Zadanie 23. Przekształć stringi na liście na inty.

In [117]:
arr = ['1', '2', '3', '4']
arr = [int(element) for element in arr]
arr

[1, 2, 3, 4]

### Zadanie 24. Podziel dwie liczby przez siebie i jako wynik zapisz liczbę bez miejsc po przecinku.

In [120]:
num_1 = 14
num_2 = 5
num = int(num_1/num_2)
num

2

In [121]:
num = num_1 // num_2
num

2

### Zadanie 25. Zaokrąglij liczbę w górę.

In [123]:
import math
num = 8.4
num = math.ceil(num)
num

9

### Zadanie 26. Zaokrąglij liczbę do 3 miejsc po przecinku.

In [124]:
num = 15.45874587
num = round(num,3)
num

15.459

### Zadanie 27. Wyciągnij z liczby część całkowitą.

In [125]:
num = 15.999
int(num)

15

### Zadanie 28. Zamień liczbę ujemną na dodatnią.

In [126]:
num = -12.8
abs(num)

12.8

### Zadanie 29. Oblicz sumę liczb od 1 do 100 podzielnych przez 6.

In [129]:
def get_sum_divided_by_2_and_3():
    sum=0
    for i in range(1,101):
        if i%6==0:
            sum+=i
    return sum

In [130]:
get_sum_divided_by_2_and_3()

816

## KROTKI

### Zadanie 30. Stwórz krotkę zawierającą elementy 2 list.

In [132]:
first_names = ['Alice', 'Tom', 'John']
last_names = ['Smith', 'Brown', 'Thompson']
persons = list(zip(first_names, last_names))
persons

[('Alice', 'Smith'), ('Tom', 'Brown'), ('John', 'Thompson')]

### Zadanie 31. Zamień wartości 2 zmiennych.

In [138]:
x = 'Python-XX'
y = 'Python-YY'
x,y = y,x
x

'Python-YY'

### Zadanie 32. Zamień listę na krotkę i usuń z niej liczby.

In [149]:
arr = ['str', 24355, -3, [3, 3, 3], ('tuple,'), {1: 1}, {1, 2, 3}, 44]
numbers = tuple(element for element in arr if type(element)==int)
numbers

(24355, -3, 44)

### Zadanie 33. Posortuj krotkę według pierwszego elementu.

In [151]:
arr = [('Alice', 'Smith'), ('Tom', 'Brown'), ('John', 'Thompson'), ('Nina', 'Wood')]
sorted_arr = sorted(arr, key = lambda x: x[0])

### Zadanie 34. Do zmiennych i listy przypisz pierwszy, ostatni i pozostałe elementy krotki.

In [155]:
numbers = (24355, -3, 44, 45, 46, 47, 890)
first = numbers[0]
last = numbers[-1]
other_numbers = list(numbers[1:-1])
other_numbers

[-3, 44, 45, 46, 47]

### Zadanie 35. Zamień listę krotek dwuelementowych na krotkę 2 list.

In [168]:
arr_of_tuples = [('Alice', 'Smith'), ('Tom', 'Brown'), ('John', 'Thompson')]
list(zip(*arr_of_tuples))

[('Alice', 'Tom', 'John'), ('Smith', 'Brown', 'Thompson')]

### Zadanie 36. Sprawdź czy 2 krotki są równe.

In [169]:
def are_tuples_the_same(t1, t2):
        return t1 == t2

### Zadanie 37. Sprawdź czy w krotce jest element True.

In [171]:
def is_any_element_true(items: tuple) -> bool:
    return any(items)

## LISTY

### Zadanie 38. Zmień wartośc ostatniego elemenru na liście

In [172]:
arr = [1, 2, 3]
arr [-1] = 0
arr

[1, 2, 0]

### Zadanie 39. Utwórz listę zawierającą 2 ostatnie elementy innej listy.

In [175]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_arr = arr[-2:]
new_arr

[8, 9]

### Zadanie 40. Utwórz listę zawierającą 5 pierwszych elementów innej listy.

In [176]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_arr = arr[:5]
new_arr

[1, 2, 3, 4, 5]

### Zadanie 41. Utwórz listę zawierającą 4,5,6,-ty element innej listy.

In [177]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_arr = arr[3:6]

### Zadanie 42. Utwórz listę zawierającą nieparzyste elementy listy.

In [178]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
arr[::2]

[1, 3, 5, 7, 9]

### Zadanie 43. Utwórz listę w odwrotnej kolejności.

In [179]:
arr = [1, 8, 3, 7, 5, 6, 7, 7, 2]
arr[::-1]

[2, 7, 7, 6, 5, 7, 3, 8, 1]

### Zadanie 44. Sprawdź czy lista jest pusta.

In [181]:
def is_list_empty(arr):
    return len(arr)==0

### Zadanie 45. Połącz dwie listy.

In [183]:
arr_1 = [1, 2]
arr_2 = [3, 4, 5]
new_arr = arr_1 + arr_2
new_arr

[1, 2, 3, 4, 5]

### Zadanie 46. Dodaj do listy elementy z innej listy.

In [184]:
arr_1 = [3, 4]
arr_2 = [1, 2]
arr_2 = arr_2 + arr_1
arr_2

[1, 2, 3, 4]

### Zadanie 47. Skopiuj listę.

In [185]:
arr = [1, 2]
new_arr = arr[:]

### Zadanie 48. Stwórz głęboką kopię listy

In [186]:
import copy
arr = [1, [2]]
new_arr = copy.deepcopy(arr)

### Zadanie 49. Znajdź liczbę elementów listy.

In [187]:
arr = [1, 2, 3, 4]
arr_length = len(arr)
arr_length

4

### Zadanie 50. Sprawdź ile razy 2 jest na liście.

In [188]:
arr = [1, 2, 3, 4, 2, 5, 5, 2]
count = arr.count(2)
count

3

### Zadanie 51. Usuń ostatni element listy i zapisz go na innej liście.

In [189]:
arr = [1, 2, 3]
last_item = arr[-1]
arr.pop()

3

### Zadanie 52. Usuń z listy element 2.

In [195]:
arr = [10, 40, 70, 100]
arr.pop(1)
arr

[10, 70, 100]

### Zadanie 53. Posortuj elementy na liście malejąco.

In [192]:
arr = [2, 6, 4, 9]
arr = sorted(arr, key = lambda x: -x)
arr

[9, 6, 4, 2]

### Zadanie 54. Utwórz listę unikatowych elementów.

In [193]:
arr = [4, 2, 1, 1, 3, 2, 1, 3, 4, 4, 4, 3]
new_arr = list(set(arr))

### Zadanie 55. Usuń z listy 1 i 3.

In [194]:
arr = [4, 2, 1, 1, 3, 2, 1, 3, 4, 4, 4, 3]
arr = [element for element in arr if element!=1 and element!=3]
arr

[4, 2, 2, 4, 4, 4]

### Zadanie 56. Stwórz listę elementów, które są na jednej liście, ale nie ma ich na drugiej.

In [197]:
arr_1 = [1, 2, 3, 4]
arr_2 = [3, 4, 6]

difference = [element for element in arr_1 if element not in arr_2]

### Zadanie 57. Zamień listę na stringa.

In [198]:
arr = ['Alice', 'Tom', 'John']
names = ", ".join(arr)

### Zadanie 58. Usuń puste ciągi znaków z listy.

In [199]:
arr = ['Alice', '', 'Tom', 'John', '']
arr = [element for element in arr if element]
arr

['Alice', 'Tom', 'John']

### Zadanie 59. Znajdź najmniejszy element na liście.

In [200]:
arr = [104, -60, 0, 399, -30, -5]
smallest_number = min(arr)
smallest_number

-60

### Zadanie 60. Sprawdź czy wszystkie elementy na liście są True.

In [211]:
def are_elements_true(arr: list) -> bool:
    return False not in arr
are_elements_true([10,2,False])

False

### Zadanie 61. Znajdź na liście elementy większe od 25.

In [212]:
numbers = [88, 45, 4, 7, 98, 34, 21, 18, 14, 55, 48, 1]
new_numbers = [element for element in numbers if element>25]

### Zadanie 62. Znajdź średnią liczb na liście i zaokrąglij ją do 2 miejsc po przecinku.

In [216]:
import statistics
arr = [6, 4, 56, 34, 23, 78, 1, 34, 17]
mean = round(statistics.mean(arr),2)
mean

28.11

### Zadanie 63. Stwórz listę zawierąjącą elementy listy występujące więcej niż raz.

In [220]:
arr = ['a', 11, 14, 11, 'a', 'a', 'f', 4, 4, 'a', 6, 8, 8, 8]
duplicates = list(set([element for element in arr if arr.count(element)>1]))
duplicates

[8, 11, 4, 'a']

### Zadanie 64. Znajdź numery indeksów listy, które posiadają wartość 2.

In [226]:
arr = [5, 4, 2, 7, 6, 2, 2, 1, 1, 2]
indexes = [index for index, element in enumerate(arr) if element==2]
indexes

[2, 5, 6, 9]

### Zadanie 65. Utwórz listę parzystych numerów od 16 do 76.

In [228]:
lista = list(range(16,77,2))

### Zadanie 66. Utwórz listę wartości słownika.

In [229]:
names_dict = {
    1: 'Anna',
    2: 'Tom',
    3: 'Alice',
    4: 'Mark'
}
names = list(names_dict.values())
names

['Anna', 'Tom', 'Alice', 'Mark']

### Zadanie 67. Do każdego numeru na liśćie dodaj 10.

In [230]:
numbers = [5, 4, 7, 8, 22, 567]
numbers = [element + 10 for element in numbers]
numbers

[15, 14, 17, 18, 32, 577]

### Zadanie 68. Utwórz listę unikatowych elementów listy. Zachowaj kolejność.

In [231]:
arr = [4, 7, 15, 4, 4, 56, 6, 6, 89, 15, 111]
new_arr = []
for element in arr:
    if element not in new_arr:
        new_arr.append(element)
new_arr

[4, 7, 15, 56, 6, 89, 111]

### Zadanie 69. Utwórz listę z zagnieżdżonych list.

In [232]:
arr = [[1, 2], [3], [4, 5, 6, 7], [8, 9]]
merged_arr = []
for element in arr:
    for kol_element in element:
        merged_arr.append(kol_element)
merged_arr

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Zadanie 70. Posortuj malejąco obiekty po atrybucie.

In [238]:
class Person:
    def __init__(self, name: str, age: int):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return f'{self.name} - {self.age}'
    
p1 = Person('Tom', 34)
p2 = Person('Alice', 28)
p3 = Person('John', 37)
arr = [p1, p2, p3]
arr = sorted(arr, key = lambda x: -x.age)
arr

[John - 37, Tom - 34, Alice - 28]

## SET

### Zadanie 71. Do zboru dodaj elementy listy.

In [245]:
numbers = {1, 2, 3}
new_numbers = [6, 7]
numbers.update(new_numbers)
numbers

{1, 2, 3, 6, 7}

### Zadanie 72. Do zboru dodaj elementy innego zbioru.

In [247]:
numbers = {1, 2, 3}
new_numbers = {6, 7}
numbers.update(new_numbers)
numbers

{1, 2, 3, 6, 7}

### Zadanie 73. Znajdź wspólne elementy zbiorów.

In [249]:
numbers_a = {10, 10, 20, 30}
numbers_b = {5, 10, 30, 2000}
numbers_c = {'5', 10, 30, 45.5, '2000'}
numbers = numbers_a & numbers_b  & numbers_c
numbers

{10, 30}

### Zadanie 74. Znajdź część wspólną zbiorów.

In [259]:
numbers_a = {10, 10, 20, 30}
numbers_b = {5, 10, 30, 2000}
numbers_c = {'5', 10, 30, 45.5, '2000'}
numbers = set.union(numbers_a, numbers_b, numbers_c)
numbers

{10, 20, 2000, '2000', 30, 45.5, 5, '5'}

### Zadanie 75. Znajdź wszystkie elementy, które występują jedynie w jednym zbiorze.

In [260]:
numbers_a = {10, 10, 20, 30}
numbers_b = {5, 10, 30, 2000}
numbers = numbers_a ^ numbers_b
numbers

{5, 20, 2000}

### Zadanie 76. Sprawdź czy wszystkie elementy danego zbioru są w innym.

In [262]:
def are_elements_in_test_numbers(numbers):
    return numbers & test_numbers == numbers

### Zadanie 77. Napisz funkcję, która zwróci wartość klucza słownika.

In [267]:
def get_name(dictionary: dict) -> str:
    try:
        return dictionary['name']
    except:
        return 'Unknown name'

### Zadanie 78. Napisz funkcję, która zwróci wartość klucza słownika, a jeśli potrzeba doda nową wartość.

In [268]:
def get_name(dictionary: dict) -> str:
    try:
        return dictionary['name']
    except:
        dictionary['name'] = 'Unknown name'
        return 'Unknown name'

### Zadanie 79. Posortuj listę słownikach po wartościach danego klucza.

In [270]:
arr = [
    {
        'name': 'John',
        'age': 25
    },
    {
        'name': 'Alice',
        'age': 20
    },
    {
        'name': 'Tom',
        'age': 38
    }
]
sorted_arr = sorted(arr, key = lambda dictionary: dictionary['age'])
sorted_arr

[{'name': 'Alice', 'age': 20},
 {'name': 'John', 'age': 25},
 {'name': 'Tom', 'age': 38}]

### Zadanie 80. Utwórz słownik w oparciu o 2 listy.

In [271]:
keys = ['name', 'age', 'grade']
values = ['John', 25, 'B']
dictionary = dict(zip(keys, values))
dictionary

{'name': 'John', 'age': 25, 'grade': 'B'}

### Zadanie 81. Utwórz listę kluczy słownika.

In [272]:
dictionary = {
    'name': 'John',
    'age': 25,
    'grade': 'B',
}
arr = list(dictionary.keys())
arr

['name', 'age', 'grade']

### Zadanie 82. Utwórz słownik w oparciu o 2 inne słowniki.

In [ ]:
dict_1 = {'name': 'Anna', 'age': 20}
dict_2 = {'weight': 55, 'height': 170}
new_dict = {**dict_1,  **dict_2}

### Zadanie 83. Posortuj słownik po wartościach.

In [282]:
dictionary = {'Anna': 20, 'Mark': 15, 'Clinton': 18, 'Alice': 10}
dictionary = dict(sorted (dictionary.items(), key = lambda x: x[1]))
dictionary

{'Alice': 10, 'Mark': 15, 'Clinton': 18, 'Anna': 20}

### Zadanie 84. Posortuj słownik po kluczach.

In [284]:
dictionary = {'Anna': 20, 'Mark': 15, 'Clinton': 18, 'Alice': 10}
dictionary = dict(sorted (dictionary.items()))
dictionary

{'Alice': 10, 'Anna': 20, 'Clinton': 18, 'Mark': 15}

### Zadanie 85. Dodaj nowy element do słownika.

In [287]:
dictionary = {'weight': 55, 'height': 170}
dictionary['name']='Mark'
dictionary

{'weight': 55, 'height': 170, 'name': 'Mark'}

### Zadanie 86. Zamień słownik na listę krotek.

In [290]:
dictionary = {'name': 'Anna', 'age': 20, 'weight': 55, 'height': 170}
arr_of_tuples = list(dictionary.items())
arr_of_tuples

(('name', 'Anna'), ('age', 20), ('weight', 55), ('height', 170))

### Zadanie 87. Sprawdź czy klucz znajduje się w słowniku.

In [291]:
def key_exists(dictionary: dict) -> bool:
    return 'name' in dictionary

### Zadanie 88. Usuń ze słownika klucz 'name', jego wartość przypisz do zmiennej.

In [292]:
dictionary = {'name': 'Anna', 'age': 20, 'weight': 55, 'height': 170}
value = dictionary.pop('name')
value

'Anna'

### Zadanie 89. Pokaż przykład list comprehension.

In [294]:
dictionary = {'name': 'Anna', 'age': 20, 'weight': 55, 'height': 170}
new_dict = {key: value for key, value in dictionary.items() if key != 'age'}
new_dict

{'name': 'Anna', 'weight': 55, 'height': 170}

### Zadanie 90. Znajdź wartość klucz, który w słowniku ma największą wartość.

In [295]:
dictionary = {'Anna': 20, 'Mark': 15, 'Clinton': 18, 'Alice': 10}
key = max(dictionary, key=lambda item: dictionary[item])
key

'Anna'

### Zadanie 91. Znajdź najmniejszą wartość w słownik.

In [297]:
dictionary = {'Anna': 20, 'Mark': 15, 'Clinton': 18, 'Alice': 10}
value = min(dictionary.values())
value

10

### Zadanie 92. Znajdź imię, które w kluczu ma najmniejszą wartość

In [299]:
arr_of_dicts = [
    {
        'name': 'John',
        'age': 26
    },
    {
        'name': 'Anna',
        'age': 28
    },
    {
        'name': 'Alice',
        'age': 25
    }
]
value = min(arr_of_dicts, key=lambda item: item['age'])['name']
value

'Alice'

### Zadanie 93. Skopiuj słownik.

In [300]:
dictionary = {'name': 'Anna', 'age': 20}
new_dictionary = dictionary.copy()

### Zadanie 94. Skopiuj słownik (głęboko).

In [301]:
import copy
dictionary = {'name': 'Anna', 'age': 20, 'skills': {'english': 'perfect', 'python': 'very good'}}
new_dictionary = copy.deepcopy(dictionary)

### Zadanie 95. Stwórz listę kluczy słownika.

In [302]:
dictionary = {'Anna': 20, 'Mark': 15, 'Clinton': 18, 'Alice': 10}
names = list(dictionary.keys())
names

['Anna', 'Mark', 'Clinton', 'Alice']

### Zadanie 96. Zamień wartości z kluczami.

In [303]:
dictionary = {'Anna': 20, 'Mark': 15, 'Clinton': 18, 'Alice': 10}
dictionary = {klucz: wartosc for wartosc, klucz in dictionary.items()}
dictionary

{20: 'Anna', 15: 'Mark', 18: 'Clinton', 10: 'Alice'}

### Zadanie 97. Stwórz słownik z liczbą wystąpień poszczególnych słów.

In [309]:
sentence = 'I am learning Python. I love Python. Python is the future!'
words = {}
sentence = sentence.replace('.', '').replace('!', '')
for word in sentence.split( ):
    if word not in words:
        words[word] = 0
    words[word] += 1
words

{'I': 2,
 'am': 1,
 'learning': 1,
 'Python': 3,
 'love': 1,
 'is': 1,
 'the': 1,
 'future': 1}

### Zadanie 98. Połącz słowniki, tak, aby wartości powtarzających się kluczy zostały dodane.

In [315]:
dict_1 = {'a': 1, 'b': 2}
dict_2 = {'a': 5, 'b': 3, 'c': 4}
combined_dict = dict_1
for key in dict_2:
    if key in combined_dict.keys():
        combined_dict[key] = combined_dict[key] + dict_2[key]
    else:
        combined_dict[key] = dict_2[key]
combined_dict

{'a': 6, 'b': 5, 'c': 4}

### Zadanie 99. Stwórz listę słowników.

In [312]:
names = ['Alice', 'Tom', 'John', 'Sara']
arr_of_dicts = [{'id':num, 'name':name} for num, name in enumerate(names,1)]
arr_of_dicts

[{'id': 1, 'name': 'Alice'},
 {'id': 2, 'name': 'Tom'},
 {'id': 3, 'name': 'John'},
 {'id': 4, 'name': 'Sara'}]

### Zadanie 100. Stwórz słownik z tą samą wartością dla wszystkich kluczy.

In [314]:
arr = range(50, 55)
dictionary = {element: 'Be happy!' for element in arr}
dictionary

{50: 'Be happy!',
 51: 'Be happy!',
 52: 'Be happy!',
 53: 'Be happy!',
 54: 'Be happy!'}